<div class="center hero-unit">
  <h1>Welcome to the P Patch Planner</h1>

  <h2>
    This is the home page for the P Patch Planner.
  </h2>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div><br>
  <% end %>

  <div id='weather_display'>Current weather: <b><%= @forecast %></b></div>
  <br/>

  <div>
    <% @news_posts.each do |news_post| %>
      <%= render "partials/news_post", news_post: news_post %>

      <div>
        <%= link_to "Comments", news_post_path(news_post, anchor: 'disqus_thread'), :class => "post_comments_link" %>
      </div>

      <br/>
    <% end %>
  </div>

  <%= link_to 'News Posts Index', news_posts_path %> <br/>
  <%= link_to 'Users Index', users_path %>

</div>

