<h1>Listing news_posts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @news_posts.each do |news_post| %>
      <tr>
        <td><%= news_post.title %></td>
        <td><%= link_to 'Show', news_post %></td>
        <td>
          <% if policy(NewsPost).update? %>
            <%= link_to 'Edit', edit_news_post_path(news_post) %>
          <% end %>
        </td>
        <td>
          <% if policy(NewsPost).destroy? %>
          <%= link_to 'Destroy', news_post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<% if policy(NewsPost).create? %>
  <%= link_to 'New News post', new_news_post_path %>
<% end %>

<br/>
<%= link_to 'Front page', root_path %>
