<p id="notice"><%= notice %></p>

  <div>Title: <%= @news_post.title %></div>
  <div>Body: <%= @news_post.body %></div>

<%= link_to 'Edit', edit_news_post_path(@news_post) %> |
<%= link_to 'Back', news_posts_path %>
